@import "tailwindcss";

/* Animación brillo elegante */
@keyframes shineMove {
  0% { background-position: -200% center; }
  50% { background-position: 200% center; }
  100% { background-position: -200% center; }
}

.shine-text {
  background: linear-gradient(
    120deg,
    #ffffff 40%,
    #6ee7f9 50%,
    #ffffff 60%
  );
  background-size: 200% auto;

  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
  -webkit-text-fill-color: transparent;

  animation: shineMove 3s ease-in-out infinite;
}